<div class="d-flex">
  <!-- Sidebar -->
  <nav class="sidebar bg-warning p-3 position-relative">
    <ul class="nav flex-column mt-5">
      <li class="nav-item">
        <a class="nav-link text-dark fw-bold" routerLink="/candidat">CANDIDAT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark fw-bold" routerLink="/auto-ecole">AUTO-ÉCOLE</a>
      </li>
    </ul>
  </nav>

  <div class="main">
    <div class="dashboard">
      <h2>DASHBOARD</h2>
      <button (click)="ajoutProfil()" class="add-profile">Ajouter profil</button>
      <br>

      <!-- Liste des candidats -->
      <h3>Liste des candidats</h3>
      <div class="profile-list">
        <div *ngFor="let profil of profiles" class="profile-card">
          <span class="icon">👤 {{ profil.nom }} {{ profil.prenom }}</span>
          <div class="actions">
            <button (click)="modifProfil(profil)" class="edit-btn">Modifier</button>
            <button (click)="supprProfil(profil)" class="delete-btn">Supprimer</button>
          </div>
        </div>a
      </div>

      <!-- Liste des auto-écoles -->
      <h3>Liste des auto-écoles</h3>
      <div class="profile-list">
        <div *ngFor="let profilAE of profilesAE" class="profile-card">
          <span class="icon">🏫 {{ profilAE.nom_ae }}</span>
          <div class="actions">
            <button (click)="modifProfil(profilAE)" class="edit-btn">Modifier</button>
            <button (click)="supprProfil(profilAE)" class="delete-btn">Supprimer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>