<main class="main-bg">
    <div class="fiche-container">

         <!-- Bloc Avis -->
      <section class="review-box">
        <div class="stars">⭐ ⭐ ⭐ ⭐ ⭐</div>
        <textarea [(ngModel)]="nouveauAvis.titre" placeholder="Écrire un Titre..."></textarea>
        <textarea [(ngModel)]="nouveauAvis.texte" placeholder="Écrire un avis..."></textarea>
        <button (click)="ajouterAvis(nouveauAvis)">Envoyer</button>
      </section>


            <!-- Bloc Avis -->
            <section class="review-box">
                <div *ngFor="let avis of avis" class="avis-item">
                  <h4>{{ avis.titre }}</h4>
                  <p>{{ avis.texte }}</p>
                  <button (click)="modifierAvis(avis)">Modifier</button>
                  <button (click)="supprimerAvis(avis.id)">Supprimer</button>
                </div>
        
              </section>
     
    </div>
  </main>